
.breadcrumbs{
	display: flex;
	align-items: center;
	margin-bottom: 1rem;

	& > a {
		color: var(--clr-prime-500);
		&:hover{
			color: var(--clr-prime-800);
		}
	}
	& > span {
		color: var(--clr-gray-500);
	}
	.sep{
		margin: 0 0.5rem;
	}
}