ul, li{
	margin: 0;
	padding: 0;
}

ul{
	li, a{
		font-size: var(--txt-label-size);
		line-height: var(--txt-label-height);
		letter-spacing: var(--txt-label-spacing);
		font-weight: var(--txt-label-weight);
		line-height: 1.4;
		padding: 1rem .5rem;
	}
	li{
		list-style: none;
	}

	a{
		cursor: pointer;
		&:hover{
			background: var(--bkg-sel);
		}
	}
}
